<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" th:href = "@{/user/home}" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="#" th:href = "@{/user/message}" class="nav-link px-2 link-body-emphasis">My Messages</a></li>
          <div sec:authorize = "hasRole('REVIEWER')">
          		<li><a href="#" th:href = "@{/review/codeReview}" class="nav-link px-2 link-body-emphasis">Code Review</a></li>
          </div>
          <li><a href="#" th:href = "@{/user/search}" class="nav-link px-2 link-body-emphasis">Search</a></li>
          <li><a href="#" th:href = "@{/user/notification}" class="nav-link px-2 link-body-emphasis">Notification</a></li>
        </ul>

<!-- 		Search Feature in the Tab Itself Could be later enabled instead of separate Search Page -->
<!--         <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"> -->
<!--           <input type="search" class="form-control" placeholder="Search..." aria-label="Search"> -->
<!--         </form> -->

        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          		<img th:src="@{/images/person-circle.svg}" width="32" height="32" class="rounded-circle"/>
          </a>
          <ul class="dropdown-menu text-small" style="">
          	<div sec:authorize = "hasRole('ADMIN')">
            	<li><a class="dropdown-item" th:href="@{/admin/adminHome}">Admin</a></li>
            </div>
            <li><a class="dropdown-item" href="#" th:href = "@{/user/profile}">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
	            <form method="POST" th:action="@{/logout}">
	    			<button type="submit" name="submit" value="value" class="dropdown-item">Sign out</button>
				</form> 
			</li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  
	<!--   Code Review Page -->
	<main class="px-3">
	    <h1>Code Review Page</h1>
	    <p class="lead">You are logged in as <span sec:authentication = "principal.username"></span> with roles <span sec:authentication = "principal.authorities"></span></p>
	    <p class="lead">
	      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
	    </p>
  	</main>
</body>
</html>