<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>View Post</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style type="text/css">
	
	
	.split {
	  height: 100%;
	  width: 50%;
	  position: fixed;
	  z-index: 1;
	  top: auto;
	  overflow-x: hidden;
 	  padding-bottom: 50px; 
 	  
	}
	.left {
	  left: 0;
	}
	.right {
	  right: 0;
	}
</style>
</head>
<body>
 	<div th:replace="~{fragments.html :: header}" />  
 
	<main class="px-3">
		<!--   Code to view the post with code sample -->
	   <div class="split left">
			<div class="container mt-1">
			      <div class="card mb-1">
			        <div class="card-header">
			        <div class="row">
						<div class="col-md-6">
			          	<h5 class="card-title" th:text="${post.subject}"></h5>
			          	
			          	</div>
			          	<div class="col-md-6 text-end">
				          	<span class="badge bg-primary" th:if="${post.goodPractice}">Good Practice</span>
				          	<span class="badge bg-success" th:if="${post.reviewed}">Reviewed</span>
			          	
			          		<div class="btn-group" role="group">
							    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							      Actions
							    </button>
							    <ul class="dropdown-menu">
							      <li><a class="dropdown-item" th:href="${'/user/posts/deletePost?id='+post.id}">Delete</a></li>
							      <li><a class="dropdown-item" th:href="${'/review/updateStatus?id='+post.id+'&status=RV'}" th:unless="${post.reviewed}">Mark as Reviewed</a></li>
   							      <li><a class="dropdown-item" th:href="${'/review/updateStatus?id='+post.id+'&status=CRV'}" th:if="${post.reviewed}">Cancel Reviewed</a></li>
   							      <li><a class="dropdown-item" th:href="${'/review/updateStatus?id='+post.id+'&status=GP'}" th:unless="${post.goodPractice}">Good practice</a></li>
							      <li><a class="dropdown-item" th:href="${'/review/updateStatus?id='+post.id+'&status=BP'}" th:if="${post.goodPractice}">Cancel Good practice</a></li>
							      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#viewTagsModal" >Tags</a></li>
							    </ul>
							</div>
				        </div>
			          </div>
			        </div>
			        <div class="card-body ">
			          <p class="card-text alert alert-dark" th:text="${post.description}" />
			           <pre class = "alert alert-secondary" id="codeBlock" th:text="${post.codeSampleWithIndex}" ></pre>
			        </div>
			      </div>
			</div>
		</div>
		<!--  Code to List comments -->
		<div class="split right">
			<div class="container mt-1">
				<div class="card mb-4">
					<div class="card-header">
					<div class="row">
						<div class="col-md-6">
				            <h5 class="card-title"> Comment </h5>
				        </div>
				        <div class="col-md-6 text-end">
				            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCommentModal" onclick="setParentCommentId('')">
				                Add Comment
				            </button>
				        </div>
				     </div>
				     </div>
				     <div class="card card-body " th:if="${#lists.isEmpty(comments)}" >
				     	<div  class="alert alert-warning" role="alert"> No comments available</div>
				     </div>
					<div class="card card-body "  th:each="cmnt,rowStat : ${comments}">
						<div class="d-flex align-items-center">
							<img class="rounded-circle shadow-1 me-3" th:src="@{/images/person-circle.svg}" alt="avatar" width="60" height="60">
							<div>
								<h6 class="fw-bold text-primary mb-1" th:text="${cmnt.createdBy}"></h6>
								<p class="text-muted small mb-0" th:if="${cmnt.createdDate != null}" th:text="${#temporals.format(cmnt.createdDate, 'dd-MM-yyyy HH:mm')}"></p>
								<a href="#!" th:if="${not #strings.isEmpty(cmnt.codeReference)}" th:text = "'View Reference'" class="d-flex align-items-center me-3" data-bs-toggle="modal" data-bs-target="#viewReferenceModal"   th:data-reference="${cmnt.codeReference}" th:data-name="${cmnt.postId}" th:onclick="loadReferencedCodeBlock(this.getAttribute('data-name'),this.getAttribute('data-reference'))" > </a> 
							</div>
						</div>
						<p class="mt-3 mb-3" th:text="${cmnt.comment}">   </p>
		
						<div class="d-flex justify-content-start">
							<a href="#!" class="d-flex align-items-center me-3"> <i class="far fa-thumbs-up me-2"></i> <p class="mb-0">Like</p> </a> 
							<a href="#!" class="d-flex align-items-center me-3" data-bs-toggle="modal" data-bs-target="#addCommentModal"   th:data-name="${cmnt.id}" th:onclick="setParentCommentId(this.getAttribute('data-name'))" > <i class="far fa-comment-dots me-2"></i> <p class="mb-0">Comment</p></a> 
							<a class="btn btn-primary mb-1"  data-bs-toggle="collapse" th:href="${'#collapseComments' + rowStat.count}" role="button" aria-expanded="false" aria-controls="collapseComments1" th:if="${not #lists.isEmpty(cmnt.subComments)}"> <i class="fas fa-angle-double-down"></i> Expand Comments</a>
						</div>
						<div class="collapse card" th:id="${'collapseComments' + rowStat.count}">
							<div   th:each="subCmnt,rowStat2 : ${cmnt.subComments}">
								<div class="card card-body">
									<div class="d-flex align-items-center">
										<img class="rounded-circle shadow-1 me-3" th:src="@{/images/person-circle.svg}" alt="avatar" width="60" height="60">
										<div>
											<h6 class="fw-bold text-primary mb-1" th:text="${subCmnt.createdBy}"></h6>
											<p class="text-muted small mb-0" th:if="${subCmnt.createdDate != null}" th:text="${#temporals.format(subCmnt.createdDate, 'dd-MM-yyyy HH:mm')}"></p>
											<a href="#!" th:if="${not #strings.isEmpty(subCmnt.codeReference)}" th:text = "${'Referenced Line : ' + subCmnt.codeReference}" class="d-flex align-items-center me-3" data-bs-toggle="modal" data-bs-target="#viewReferenceModal"   th:data-reference="${subCmnt.codeReference}" th:data-name="${subCmnt.postId}" th:onclick="loadReferencedCodeBlock(this.getAttribute('data-name'),this.getAttribute('data-reference'))" > </a> 
										</div>
									</div>
									<p class="mt-3 mb-3" th:text="${subCmnt.comment}">  </p>
									<div class="d-flex justify-content-start">
										<a href="#!" class="d-flex align-items-center me-3"> <i class="far fa-thumbs-up me-2"></i> <p class="mb-0">Like</p> </a> 
									</div>
								</div>
							</div>
						</div>
						</div>
				</div>
			</div>
		</div>

	<!-- Dialog Box to add Comment -->
		<div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="addCommentModalLabel" aria-hidden="true">
		    <div class="modal-dialog  modal-xl">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title" id="addCommentModalLabel">Add Comment</h5>
		                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		            </div>
		            <form  th:action = "@{/user/posts/addComment}" method = "post" th:object = "${comment}" class="needs-validation" >
		            	<input type="hidden" class="form-control" id="postId"  th:field = "*{postId}" >
		            	<input type="hidden" class="form-control" id="parentCommentId"  th:field = "*{parentCommentId}" >
		            
			            <div class="modal-body">

							<div class="container">
								<div class="row mt-3">
									<div class="col-md-6">
										<label for="start" class="form-label">Referenced From:</label> 
										<input type="number" class="form-control" id="start" th:max="${lineCount}" th:min="1" th:field = "*{start}" placeholder="Line Number">
									</div>
									<div class="col-md-6">
										<label for="end" class="form-label">Referenced Till:</label> 
										<input type="number" class="form-control" id="end" th:max="${lineCount}" th:min="1" th:field = "*{end}" placeholder="Line Number">
									</div>
									<div class="col-md-12">
										
										<label for="description">Comment</label>
										<textarea class="form-control" id="comment" rows="5" placeholder="Enter your comment"  th:field = "*{comment}"  required=""></textarea>
										<div class="invalid-feedback">
					                		Valid comment is required.
					              		</div>

									</div>
								</div>
							</div>
			            </div>
			            <div class="modal-footer">
			             	<button type="submit" class="btn btn-primary">Submit</button>
		                	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			            </div>
			            
		            </form>
		        </div>
		    </div>
		</div>
	   
	   
	   	<!-- Dialog Box to view Referenced Lines -->
		<div class="modal fade " id="viewReferenceModal" tabindex="-1" aria-labelledby="viewReferenceModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-xl">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title" id="viewReferenceModalLabel">View Referenced Line</h5>
		                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		            </div>
			            <div class="modal-body" style="max-height: 80vh;overflow: auto;">
			           		<pre class = "alert alert-secondary" id="referencecodeBlock"  ></pre>
						
			            </div>
			            <div class="modal-footer">
		                	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			            </div>
			            
		        </div>
		    </div>
		</div>
		
		<!-- Dialog Box to view/add Tags -->
		<div class="modal fade " id="viewTagsModal" tabindex="-1" aria-labelledby="viewTagsModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-xl">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title" id="viewTagsModalLabel">Tags</h5>
		                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		            </div>
		            <form  th:action = "@{/review/addTags?}" method = "post" th:object = "${post}" class="needs-validation" >
			            <div class="modal-body" >
			            	<input type="hidden" class="form-control" th:field = "*{id}" >
							<select  class="form-select" multiple th:field="*{tags}" >
								<option th:each="tg : ${allTags}" th:value="${tg.id}" th:text="${tg.name}"></option>
							</select>					
			            </div>
			            <div class="modal-footer">
			            	<button type="submit" class="btn btn-primary">Save</button>
		                	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			            </div>
			      	</form>
		        </div>
		    </div>
		</div>
	</main>
	
  	<script th:inline="javascript">
	  function setParentCommentId(id) {
	    var hiddenInput = document.getElementById('parentCommentId');
	    hiddenInput.value = id;
	  }
	  function loadReferencedCodeBlock(id,reference) {
	        // Fetch HTML content using AJAX
	        $.get("/user/posts/getReferencedCodeBlock?id="+id+"&reference="+reference, function(data) {
	            // Inject the fetched HTML content into the dialog container
	            $('#referencecodeBlock').html(data);
	        });
	    }
	</script>
</body>
</html>