<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><head>
<meta charset="ISO-8859-1">
<title>HTML Fragments</title>
</head>
<body>
	<header th:fragment="header" id ="header" style = "background: #f8f9fa;" class="p-3 mb-3 border-bottom">
		<style>
			.sticky {
			  position: fixed;
			  top: 0;
			  width: 100%;
			}
		</style>
		<script type="text/javascript">
			window.onscroll = function() {fixHeader()};
			var header = document.getElementById("header");
			var sticky = header.offsetTop;
			function fixHeader() {
			  if (window.pageYOffset > sticky) {
			    header.classList.add("sticky");
			  } else {
			    header.classList.remove("sticky");
			  }
			}
		</script>
	 	<div class="container">
	      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
	        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
	          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
	        </a>
	
	        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
	          <li><a href="#" th:href = "@{/user/home}" class="nav-link px-2 link-body-emphasis">Home</a></li>
	          <li><a href="#" th:href = "@{/user/message}" class="nav-link px-2 link-body-emphasis">My Messages</a></li>
	          <div sec:authorize = "hasRole('REVIEWER')">
	          		<li><a href="#" th:href = "@{/user/posts}" class="nav-link px-2 link-body-emphasis">Posts</a></li>
	          </div>
	          <li><a href="#" th:href = "@{/user/search}" class="nav-link px-2 link-body-emphasis">Search</a></li>
	          <li><a href="#" th:href = "@{/user/notification}" class="nav-link px-2 link-body-emphasis">Notification</a></li>
	        </ul>
	        
	        <div class="dropdown text-end">
	          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
	          		<img th:src="@{/images/person-circle.svg}" width="32" height="32" class="rounded-circle"/>
	          </a>
	          <ul class="dropdown-menu text-small" style="">
	          	<div sec:authorize = "hasRole('ADMIN')">
	            	<li><a class="dropdown-item" th:href="@{/admin/adminHome}">Admin</a></li>
	            </div>
	            <li><a class="dropdown-item" href="#" th:href = "@{/user/profile}">Profile</a></li>
	            <li><hr class="dropdown-divider"></li>
	            <li>
		            <form method="POST" th:action="@{/logout}">
		    			<button type="submit" name="submit" value="value" class="dropdown-item">Sign out</button>
					</form> 
				</li>
	          </ul>
	        </div>
	      </div>
	    </div>
	</header>

<footer th:fragment="footer" id = "footer">

</footer>

</body>
</html>